@import "_variables";
@import "_fonts";

body {
  background-color: @main-bg-color;
  font-weight: medium;
  margin: 0;
  padding: 0;

  #root {
    min-height: 100vh;
  }

  main {
    width: 55%;
    margin: auto;
  }
}
